.index__jumbotron {
  height: 480px;
  background-image: url('../images/ricardo-gomez-angel-UrOZTfXT0h0-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.index__card-imgWrapper {
  aspect-ratio: 1 / 1;
}

