<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <%- include('header.ejs') %>

    <% if (current !== 'index') { %>
      <%- include('nav.ejs') %>
    <% } %>

    <%- contents %>

    <div class="container py-6 py-lg-14">
      <h3 class="mb-2 mb-md-6">猜你也喜歡...</h3>
      <div class="row">
        <div class="col-lg-11 offset-lg-1">
          <!-- Slider main container -->
          <div class="swiper guess">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <img src="./assets/images/ricardo-gomez-angel-WxpnuLzqZN4-unsplash.jpg" alt="" class="d-block w-100 object-fit-cover mb-2 mb-lg-1">
                <h4 class="fs-7 fw-bold mb-1">No.22 線上設計展</h4>
                <p class="fs-7">$350</p>
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/petri-heiskanen-bR9gFJqAnzA-unsplash.jpg" alt="" class="d-block w-100 object-fit-cover mb-2 mb-lg-1">
                <h4 class="fs-7 fw-bold mb-1">No.22 線上設計展</h4>
                <p class="fs-7">$350</p>
              </div>
              <div class="swiper-slide">
                <img src="./assets/images/museums-victoria-kiDwVL_5ZBY-unsplash (1).jpg" alt="" class="d-block w-100 object-fit-cover mb-2 mb-lg-1">
                <h4 class="fs-7 fw-bold mb-1">No.22 線上設計展</h4>
                <p class="fs-7">$350</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <footer class="footer">
      <div class="footer-jumbotron d-flex align-items-end">
        <div class="container">
          <h2 class="text-white fw-bold mb-5 mb-md-3">想收到最新消息嗎？<br>快訂閱我們！</h2>
          <div class="row">
            <div class="col-lg-4 col-md-7">
              <div class="input-group mb-9">
                <input type="text" class="form-control py-3" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" aria-describedby="button-addon2">
                <button class="btn text-white bg-secondary btn-outline-secondary px-12" type="button" id="button-addon2">訂閱</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="d-flex justify-content-between py-3 py-md-4">
          <div class="d-md-flex align-items-center">
            <p class="fs-5 me-4">EXHIBINECTION</p>
            <p>© 2020. All Rights Reserved.</p>
          </div>
          <ul class="d-none d-md-flex align-items-center">
            <li class="me-6"><a href="#" class="d-block link-dark">Sign in</a></li>
            <li><a href="#" class="d-block link-dark">Sign up</a></li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>